#root {
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    width: 100vw;
    position: relative;
}

.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100%;
    overflow-x: hidden;
}

.SimulationContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2.5rem;


    .TopControlContainer {
        display: flex;
        flex-direction: row;
        position: relative;
        min-width: 20rem;
        max-width: 100%;
        height: 2.5rem;
        margin: 1rem;

        .playReplayContainer {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &>* {
                margin: 0.5rem;
            }
        }

        .startButton {
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            display: flex;
            flex-direction: row;
            place-items: center;
            place-content: center;
            min-width: 9rem;
            background-color: var(--chatgpt_gray);
            // margin: 1rem;
        }

        .loadingButton {
            background-color: var(--gray_st) !important;

        }
    }


    .VisualizationContainer {
        position: relative;
        overflow-x: hidden;
        display: flex;
        flex-direction: row;
        margin: 1rem;

        .leftColumn {
            &>* {
                margin-bottom: 1rem;
            }
        }
    }
}


.predictionsContainer {
    margin-left: 2.5rem;
}

.predictionsHeatmapContainer {
    /* margin-left: 5rem; */
    margin-top: 10rem;
}

.MCpredictionsContainer {
    margin-top: -2rem;
}