#root {
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    width: 100vw;
    position: relative;
}

.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100%;
    overflow-x: hidden;
}

.SimulationContainer {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
}

.ControlContainer {
    display: flex;
    flex-direction: row;
}

.VisualizationContainer {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.predictionsContainer {
    margin-left: 2.5rem;
}

.predictionsHeatmapContainer {
    /* margin-left: 5rem; */
    margin-top: 10rem;
}

.MCpredictionsContainer {
    margin-top: -2rem;
}