#root {
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    width: 100vw;
    position: relative;
}

.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100%;
    overflow-x: hidden;
}

.SimulationContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2.5rem;
}


.ControlContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 20rem;
    max-width: 40%;
    height: 2.5rem;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;

    .startButton {
        text-align: center;
        min-width: 9rem;
    }
}

.VisualizationContainer {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.predictionsContainer {
    margin-left: 2.5rem;
}

.predictionsHeatmapContainer {
    /* margin-left: 5rem; */
    margin-top: 10rem;
}

.MCpredictionsContainer {
    margin-top: -2rem;
}