#root {
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}

.mainContainer {
    display: flex;
    place-items: center;
    justify-content: center;
}

.AppContainer {
    display: flex;
    flex-direction: row;
    margin-left: 2.5rem;
    margin-top: 5rem;
    /* align-items: center; */
    /* justify-content: center; */
}

.predictionsContainer {
    margin-left: 2.5rem;
}

.predictionsHeatmapContainer {
    /* margin-left: 5rem; */
    margin-top: 10rem;
}

.MCpredictionsContainer {
    margin-top: -2rem;
}